<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Behavioral Navigation for Robot Navigation</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap-grid.css" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
    	<br/>
        <h1 class="text-center">Translating Navigation Instructions in Natural Language to a High-Level Plan for Behavioral Robot Navigation</h1>

        <p class="text-center"> Xiaoxue Zang, Ashwini Pokle, <a href="http://www.marynel.net/">Marynel V&#225;zquez</a>, <a href="https://github.com/kchen92"> Kevin Chen</a>, <a href="http://www.niebles.net/"> Juan Carlos Niebles</a>, <a href="http://asoto.ing.puc.cl/"> Alvaro Soto</a>, <a href="http://cvgl.stanford.edu/silvio/">Silvio Savarese</a></p>

        <hr>

        <div class="figures">
            <div class="row">
                <div class="col">
                    <div style="text-align: center;">
                    	<%= image_tag 'main_image_1.png', alt:'main figure', class:'img-fluid',style:'width: 92%; object-fit: contain' %>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <h2 id="overview">Overview</h2>

        <p>We propose an end-to-end deep learning model for translating free-form natural language instructions to a high-level plan for behavioral robot navigation. We use attention models to connect information from both the user instructions and a topological representation of the environment. We evaluate our model's performance on a new dataset containing 10,050 pairs of navigation instructions. Our model significantly outperforms baseline approaches. Furthermore, our results suggest that it is possible to leverage the environment map as a relevant knowledge base to facilitate the translation of free-form navigational instruction.</p>
        <hr>

        <h2>Links</h2>

        <ul>
            <li><a href="http://arxiv.org/abs/1803.08495">Full Paper (PDF, 14MB)</a>
            <li><a href="https://github.com/StanfordVL/behavioral_navigation_nlp/">Code (Github)</a>
            </li>
            <li><%= link_to 'Bibtex', asset_path('bibtex.bib') %>
            </li>
        </ul>

        If you find our project helpful, please consider citing us:
        <br><br>
        <pre><code>@article{zang2018behnav,
  title={Translating Navigation Instructions in Natural Language to a High-Level Plan for Behavioral Robot Navigation},
  author={Zang, Xiaoxue and Pokle, Ashwini and V&#225;zquez, Marynel and Chen, Kevin and  Niebles, Juan Carlos and Soto, Alvaro and and Savarese, Silvio},
  journal={arXiv preprint <insert arxiv link here/>},
  year={2018}
}
        </code></pre>

        <h2 id="dataset">Dataset</h2>

        <h3>Dataset Downloads</h3>

        <ul>
            <li>Train / Validation / Test Dataset (ZIP, 10 MB) [<a href="https://stanford.box.com/shared/static/ye2z4zhsdm0mtc9kf44yjar7j9a5nuc3.zip">Download</a>]
            </li>
        </ul>
        <ul>
        	<li>
        		Navigation maps (ZIP, 1.4GB)  [<a href="https://stanford.box.com/shared/static/nfzm39vfx9as88ucki00vq7ba8c2x8f3.zip">Download</a>]
        	</li>
        </ul>
        <p>If any errors or artifacts in the dataset are found, please report them to <a href="mailto:xzang@cs.stanford.edu">xzang@cs.stanford.edu</a> or <a href="mailto:ashwini@cs.stanford.edu">ashwini@cs.stanford.edu</a>. Thank you!</p>
        <hr>

        <h2>Acknowledgements</h2>

        <p>This material is based upon work supported by the National Science Foundation Graduate Research Fellowship Program under Grant No. DGE – 1147470. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation. This work is supported by Google, Intel, and with the support of the Technical University of Munich–Institute for Advanced Study, funded by the German Excellence Initiative and the European Union Seventh Framework Programme under grant agreement no 291763.</p>

    </div>

</body>

</html>

